* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.nav-item {
    color: #000000;
}

.nav-item:hover {
    color: #ffffff;
}

.carousel-caption h1 {
    color: rgb (162, 99, 71);
}

.carousel-caption .btn {
    background-color: hsl(0, 80%, 50%);
    color: white;
}

.carousel-caption .btn:hover {
    background-color: hsl(0, 60%, 50%);
    color: white;
}

.carousel-caption .btn {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0, );
}

.carousel-caption .btn:hover,
.carousel-caption .btn:focus,
.carousel-caption .btn:active {
    animation-name: slide-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1
}

.title-color {
    color: aliceblue;
}

.carousel-inner h1 {
    color: #ffffff;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    color: #DC143C;
    text-decoration: none;
}

.footer h5 {
    color: #DC143C;
}

.carousel-inner a {
    font-family: 'Kanit', sans-serif;
    background: #000;
    color: rgb(240, 237, 39);
}

.carousel-inner a:hover {
    font-family: 'Kanit', sans-serif;
    color: rgb(180, 190, 131);
}

.carousel-item {
    height: 400px;
}

.content h1 {
    margin-top: 0%;
}

.user-login a {
    cursor: default;
}

.footer a {
    color: rgb(120, 120, 120);
    text-decoration: none;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

@keyframes slide-btn {
    16% {
        transform: translateY(8px);
    }
    33% {
        transform: translateY(-6px);
    }
    50% {
        transform: translateY(4px);
    }
    65% {
        transform: translateY(-2px);
    }
    85% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}